body{
    background-color: rgb(34,34,34);
    font-family: Helvetica, sans-serif;
}
table{
    border-collapse: collapse;
    width:100%;
}
#contents{
    font-size: 0px;
    min-width: 980px;
    width: 100%;
}
#opcije{
    background-color: rgb(51,59,70);
    color: rgb(176,179,183);
    display: inline-block;
    height: 800px;
    vertical-align: top;
    width: 20%;
}
#opcije-naslov{
    border-bottom: 2px solid rgb(40,46,56);
    font-size: 32px;
    list-style-type: none;
    padding-bottom:20px;
    padding-left:20px;
    padding-top:20px;
}
#opcije-oznaceno{
    background-color: rgb(68,78,92);
    border-bottom: 1px solid rgb(40,46,56);
    padding-left:28px;
    margin:0px;
}
.empty{
    border-width: 0px;
    width:20px;
}
.element{
    border-bottom: 1px solid rgb(40,46,56);
    font-size: 18px;
    list-style-type: none;
    margin-left:20px;
    padding-bottom: 18px;
    padding-left: 8px;
    padding-top: 18px;
    vertical-align: bottom;
}
li span{
    padding-left: 10px;
}
.element:hover{
    background-color: rgb(68,78,92);
    border-bottom: 1px solid rgb(40,46,56);
    padding-left:28px;
    margin:0px;
}
#prostorije{
    background-color: rgb(68,124,172);
    color: rgb(247,249,253);
    display: inline-block;
    height: 800px;
    vertical-align: top;
    width: 20%;
}
#prostorije-naslov{
    border-bottom: 2px solid rgb(58,114,165);
    font-size: 28px;
    list-style-type: none;
    padding-bottom:20px;
    padding-left:20px;
    padding-top:24px;
}
#sorter{
    border-bottom: 2px solid rgb(58,114,165);
    color: rgb(124,180,204);
    cursor: pointer;
    font-size: 12px;
    list-style-type: none;
    padding-bottom: 8px;
    padding-right: 20px;
    padding-top: 8px;
    text-align: right;
}
.prostorije-element{
    border-bottom: 1px solid rgb(58,114,165);
    font-size: 16px;
    list-style-type: none;
    padding-bottom: 17px;
    padding-left: 30px;
    padding-top: 10px;
}
.prostorije-element:hover{
    background-color: rgb(69,160,204);
}
.prostorije-podelement{
    color: rgb(124,180,204);
    font-size: 12px;
    list-style-type: none;
    padding-top: 10px;
}
#prostorije-oznaceno{
    background-color: rgb(69,160,204);
}
#main{
    background-color: white;
    color: rgb(102,102,102);
    display: inline-block;
    height: 800px;
    vertical-align: top;
    width: 60%;
}
#main-naslov{
    display: inline-block;
    font-size: 38px;
    padding-bottom:30px;
    padding-left:30px;
    padding-top:70px;
}
#spremi{
    float: right;
    padding-right: 10px;
    padding-top: 70px;
    text-align:right;
}
.btn2{
    background-color: rgb(240,72,72);
    border: 1px solid rgb(240,72,72);
    border-radius: 5px;
    color: white;
    padding-bottom:5px;
    padding-left:12px;
    padding-right:12px;
    padding-top:5px;
}
#main-table{
    background-color: rgb(242,242,242);
    border-bottom: 1px solid rgb(222,222,222);
    border-top: 1px solid rgb(222,222,222);
    font-size: 12px;
    margin: auto;
    width: 95%;
}
.main-tableh{
    color: rgb(222,222,229);
    font-size: 10px;
    font-weight: normal;
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: left;
}
.main-tabled{
    color: rgb(93,93,93);
    padding-bottom: 7px;
    padding-top: 5px;
}
.main-table-middlerow{
    border-top: 1px solid rgb(222,222,222);
}
.empty-div{
    height: 60px;
    width: 100%;
}
#table2{
    margin:auto;
    width:90%;
}
.table2h{
    border-bottom: 1px solid rgb(234,234,234);
    color: rgb(193,188,188);
    font-size:14px;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: left;
}
.table2data{
    border-bottom: 1px solid rgb(234,234,234);
    font-size: 14px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-top: 25px;
}
.data{
    color: rgb(93,93,93);
    font-size: 10px;
    padding-bottom: 5px;
}
input[type=checkbox]{
    display:none;
}
input[type=checkbox] + label span{
    background: url("../images/icons/checkbox.png") left top no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 19px;
    width: 19px;
}
input[type=checkbox]:checked + label span{
    background: url("../images/icons/checkbox_checked.png") left top no-repeat;
}

.stup1{
    color: rgb(176,179,183);
}

.stup2{
     color: rgb(247,249,253);
}